@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  /* Adjust as needed for specific weights */
  font-style: normal;
}

body {
  font-family: "Montserrat";

  /* overscroll-behavior: none; Prevent scroll chaining bounce */
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}